body{
    /* background: linear-gradient(180deg, #4e577a, #1d2130); */
    background-color: #252525;
    min-height: 100vh;
    overflow-x: hidden;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}
.header{
    background-color: #3b3b3b;
    padding: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.company-name{
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
    
    margin-left: 2rem;
    font-weight: bold;
    font-size: 3rem;
    color: #44ace9;
    text-decoration: none;
}
.button{
    font-size: 1.5rem;
    font-weight: bold;
    background: linear-gradient(90deg,#51bfff, #3681ad);
    margin-right: 2rem;
    color: whitesmoke;
    padding: 0.5rem;
    width: 8rem;
    text-align: center;
    text-decoration: none;
    border-radius: 1rem;
    transition: transform 0.4s ease;
}
.button:hover{
    transform: translateY(-5px);
    
}
.title{
    color: #51bfff;
    font-family: "Oswald", sans-serif;
    font-weight: bold;
    text-align: start;
    margin: 3rem 6rem;
    font-size: 3em;
}
.main-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    margin: 0 4rem 4rem 4rem;
}
.card-container{
    gap: 3.5rem;
    display: flex;
    flex-wrap: wrap;
    margin: 0 6rem 0 6rem;
}
.card{
    filter: drop-shadow();
    background: linear-gradient(180deg, #BFC9D1, #8b9399);
    border-radius: 1rem;
}
.card h2{
    font-weight: bold;
    margin-top: -1rem;
}
.card img{
    scale: 0.92;
    border-radius: 1rem;
}
.card button{
    background-color: #30364F;
    border: none;
    width: 5em;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
.card button:hover{
    transform: translateY(-5px);
    background-color: #30364F;
}
.card a{
    background-color: #30364F;
    border: none;
    width: 5em;
    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
.card a:hover{
    transform: translateY(-5px);
    background-color: #30364F;
}
h3{
    color: #30364F;
    font-weight: bold;  
}
img{
    max-width: 18rem;
    max-height: 18rem;
    object-fit: cover;
}
.form{
    background: linear-gradient(180deg, #BFC9D1, #8b9399);
    padding: 2em;
    border-radius: 2em;
    width: 80em;
}
.form input{
    border: none;
    padding: 1em;
    width: 100%;
    margin-bottom: 2em;
    border-radius: 1em;
}
.form button{
    position: relative;
    left: 74%;

    border: none;
    background-color: #25343F;
    padding: 1em;
    color: #E1D9BC;
    font-weight: bold;
    border-radius: 1em;
    width: 20em;

    transition-property: transform;
    transition-duration: 0.5s;
    transition-timing-function: ease;
}
.form button:hover{
    transform: translateY(-10px);
}